.container {
}
.container .two_col {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .two_col .img_col {
  margin: 20px;
  width: 40%;
}
.l_image {
}

.container .two_col .text_col {
  width: 60%;
  margin: 20px;
}

.container .two_col .text_col h4 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container .two_col .text_col h4 span {
  color: #6415ff;
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container .two_col .text_col h6 {
  color: #6415ff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container .two_col .text_col .text_content .steps .step {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
}
.container .two_col .text_col .text_content .steps .step .step_number {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: row;
}
