.container {
}
.container .two_col {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .two_col .img_col {
  width: 40%;
}
.l_image {
}

.container .two_col .text_col {
  width: 60%;
  margin: 20px;
}
