@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700;900&display=swap");

.container {
  margin-top: 30px;
}
.container .two_col {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.container .two_col .img_col {
  margin: 60px;
  width: 50%;
}
.l_image {
}

.container .two_col .text_col {
  width: 50%;
  /* margin: 20px; */
}

.container .two_col .text_col h4 {
  color: #243e63;
  font-size: 48px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}
.container .two_col .text_col h4 span {
  color: #1db954;
  font-size: 48px;
  line-height: 60px;
  font-weight: 900;
  font-family: "Inter", sans-serif;
}

.container .two_col .text_col h6 {
  color: #1db954;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.container .two_col .text_col .text_content .steps {
  margin-top: 60px;
  /* margin: 10px 0 0 0; */
  /* display: flex; */
  /* flex-direction: row; */
}
.container .two_col .text_col .text_content .steps .step {
  /* margin: 10px 0 0 0; */
  display: flex;
  flex-direction: row;
}
.container .two_col .text_col .text_content .steps .step .step_number {
  /* margin-right: 28px; */
  width: 65px;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #cbd5e0;
  /* margin: 5px; */
}
.container .two_col .text_col .text_content .steps .step .step_text {
  font-family: "Inter", sans-serif;
  color: #243e63;
}
.container .two_col .text_col .text_content .steps .step .step_text h6 {
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #243e63;
}
.container .two_col .text_col .text_content .steps .step .step_text p {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  color: #718096;
}
