.row .fourcol {
  width: 22.75%;
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
  margin-right: 3.8%;
  float: left;
  min-height: 1px;
}
.price_head {
    text-align: center;
    padding: 40px 0 50px 0;
    background-color: #454545;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.green_head{
  background-color: #16a085;
}