
/* Call To Action
========================================================== */
.call_to_action_white_wrapper{
	margin:0 auto!important;
	width:90%;
	padding:0 5%;
	position:relative;
	/* z-index:1; */
	background-color:#fff;
}
.content_container{
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color:#fff;
}
.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.content_container .threecol3 .services_box{
  height:250px;
}
.threecol3{
  flex: 1; /*grow*/
  padding-right: 10px;
  margin: 30px 0 30px 0 ;
  float: left;
  width: 33%; 
  /* padding: 20px;  */
  margin-left:20px;
  /* background-color: #344; */
}
.last3{
  margin-right:20px;
}
.spacer{
  height: 20px;
}
.social_network{
  padding:10px 0 10px 0;
  justify-content: space-between;
}
.social_network a{
  margin: 10px;
}
.threecol h4{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#1DB954
}
.threecol a, .threecol p{
  color:#fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.zoom_photo{
	display:block;
	overflow:hidden;
}

@media screen and (max-width: 550px) { /*breakpoint*/
  .content_container {
    flex-direction: column;
  }
  .content_container .threecol3{
    width: 100%;
  }
}
@media screen and (min-width: 1400px) { /*breakpoint*/
  .content_container {
    margin-left:20%;
    margin-right:20%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
}