/* Call To Action
========================================================== */
#services_cont .call_to_action_white_wrapper {
  margin: 0 auto !important;
  width: 90%;
  padding: 0 5%;
  position: relative;
  /* z-index:1; */
  background-color: #fff;
}
#services_cont .content_container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
}
#services_cont .nowrap {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

#services_cont .wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#services_cont .content_container .threecol3 .services_box {
  height: 300px;
}
#services_cont .threecol3 {
  flex: 1; /*grow*/
  padding-right: 10px;
  margin: 30px 0 30px 0;
  float: left;
  width: 33%;
  /* padding: 20px;  */
  margin-left: 20px;
  /* background-color: #344; */
}
#services_cont .last3 {
  margin-right: 20px;
}
#services_cont .spacer {
  height: 20px;
}
#services_cont .social_network {
  padding: 10px 0 10px 0;
  justify-content: space-between;
}
#services_cont .social_network a {
  margin: 10px;
}
#services_cont .threecol h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #1db954;
}
#services_cont .threecol a,
#services_cont .threecol p {
  color: #fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#services_cont .zoom_photo {
  display: block;
  overflow: hidden;
}

@media screen and (max-width: 550px) {
  /*breakpoint*/
  .content_container {
    flex-direction: column;
  }
  .content_container .threecol3 {
    width: 100%;
  }
}
@media screen and (min-width: 1600px) {
  /*breakpoint*/
  .content_container {
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
}
