.description_container_wrap {
}
.description_container_wrap .description_header {
  color: #454545;
}

.description_container_wrap .description_header h3 {
  font-size: 36px;
  font-weight: 300;
  align-content: center;
}
.description_container_wrap .description_header h4 {
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
}
