@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap');

.basicLayout {
  margin:30px;
  position: 'absolute';
  left: '50%';
  top: '50%';
  transform: 'translate(-50%, -50%)';
}
@media only screen and (max-width: 975px) {
  .basicLayout {
    margin:30px;

    position: 'absolute';
    left: '50%';
    top: '50%';
    transform: 'translate(-50%, -40%)';
  }
}

@media only screen and (min-width: 1140px) {
  .basicLayout {
    position: 'absolute';
    left: '50%';
    top: '50%';
    transform: 'translate(-50%, -40%)';
  }
	
}