
.footer_container{
  width: 100%;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
  background-color:#222;
}
.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  

.footer{
  width: 100%;
  padding: 30px;
}
.fourcol{
  float: left;
  width: 25%; 
  padding: 60px; 
}

.threecol{
  float: left;
  width: 33%; 
  padding: 60px; 
}
.spacer{
  height: 20px;
}
.social_network a{
  padding:10px 0 10px 0;
  justify-content: space-between;
  color:#fff;
}
.social_network a{
  margin: 10px;
}
.col a{
  color:#fff;
  font-style: normal;
}

.threecol a, .threecol p{
  color:#fff;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*testing responsive */

/* STYLES SPECIFIC TO FOOTER  */
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #070617;
  
}
.footer .col {
  width: 33%;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
  color:#fff;

}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color:#fff;

  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col h4{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:#1DB954
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col p {
  color:#fff;
}
.footer .col ul li {
  color: #fff;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 100%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}