.button_group {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  /* border: 3px solid green; */
  vertical-align: middle;

  padding: 0;
  align-items: center;
  justify-content: center;
}

.button_nps {
  width: 28px;
  justify-content: space-between;

  /* margin: 5px; */
  border-radius: 3px;
  border: 1px #fff solid;
  color: #fff;
}
