.button_group {
  margin: auto;
  width: 20%;
  /* border: 3px solid green; */
  padding: 10px;
}

.button_nps {
  width: 28px;
  justify-content: space-between;

  /* margin: 5px; */
  border-radius: 3px;
  border: 1px #fff solid;
  color: #fff;
}
