.button_group {
  display: flex;
  justify-content: center;
}

.button_nps {
  width: 28px;
  justify-content: space-between;
  font-size: 10px;
  height: 28px;
  /* margin: 5px; */
  border-radius: 3px;
  border: 1px #fff solid;
  color: #fff;
}
