.table_container {
}

.table_container {
  padding: 16px;
}

.table_container th {
  min-height: 56px;
  font-weight: 500;
}

.table_container tr {
  min-height: 52px;
  font-weight: 300;
}

.table_container tr:hover {
  background-color: lemonchiffon;
}
