.no-bullet {
  padding:0;
  margin:0;
}

li {
  display:flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  /* margin: 5px 0; */
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
}

/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}


.button-left{
  margin-right: 5px;
}
.text-btn{
  font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;

}