.contact-form {
  display: flex;
  flex-direction: column;
  padding: 50%;
}

input {
  width: 30%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px #333 solid;
  border-radius: 5px;
}

button {
  width: 30%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px #333;
  border-radius: 5px;
}
