.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #aaa;
  opacity: 1; /* Firefox */
}
input {
  color: #000;
  width: 100%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border: 1px #333 solid;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #1db954;
  color: #fff;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  border: 1px #1db954;
  border-radius: 5px;
  transition: 0.2s background-color;
}

button:hover {
  width: 100%;
  padding: 12px 20px;
  margin: 10px;
  /* box-sizing: border-box; */
  background-color: #ffffff;
  color: #1db954;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  border: 12px #1db954;
  border-radius: 5px;
}
